body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-primary-light;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 300;

    backface-visibility: hidden;
    //margin-bottom: 6rem;
}

.heading-secondary {
    font-size: 3.5rem;
    //text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    color: $color-primary-light;
    letter-spacing: .1rem;
    transition: all .2s;
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 300;
    //text-transform: uppercase;
    color: $color-tertiary-dark;
}

.paragraph {
    font-size: $default-font-size;
    color: $color-primary-light;
    font-weight: 300;
}