@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: $color-grey-light-1;
    padding: 3rem;
}

.heading-primary {
    //color: $color-primary-light;
    color: transparent;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 300;

    background-image: $gradient;
    -webkit-background-clip: text;

    backface-visibility: hidden;
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 300;
    //display: inline-block;
    
    color: transparent;
    background-image: $gradient-light;
    -webkit-background-clip: text;
    
    letter-spacing: .1rem;
    transition: all .2s;
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: 300;
    //text-transform: uppercase;
    color: $color-tertiary-dark;
}

.paragraph {
    font-size: $default-font-size;
    color: $color-grey-light-1;
    font-weight: 300;
}