.nav {
    padding-top: 1rem;
    text-align: center;

    &__link {
    //font-weight: bold;
    color: $color-tertiary;
    padding: 0.5rem 5rem;
    font-size: 1.7rem;
    text-decoration: none;
    border: 1.5px solid $color-grey-light-2;
    box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    transition: 0.2s ease-in-out;

    &:first-child {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }

    &:last-child {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    &.router-link-exact-active {
        background-color: $color-tertiary-dark;
        color: $color-grey-light-1;
    }
    }
}